astroid==2.0.4
certifi==2018.8.24
chardet==3.0.4
click==6.7
colorama==0.3.9
defusedxml==0.5.0
Django==2.1.1
django-debug-toolbar==1.10.1
django-debug-toolbar-template-profiler==1.0.2
django-extensions==2.1.3
graphviz==0.9
idna==2.7
isort==4.3.4
lazy-object-proxy==1.3.1
mccabe==0.6.1
oauthlib==2.1.0
Pillow==8.2.0
pip-tools==3.0.0
pydotplus==2.0.2
PyJWT==1.6.4
pylint==2.1.1
pyparsing==2.2.2
python3-openid==3.1.0
pytz==2018.5
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
sqlparse==0.2.4
urllib3==1.23
virtualenv==16.0.0
wrapt==1.10.11
