{% extends 'mainapp/base.html' %}

{%block content %}
			<div class="welcome">
			<h2>Welcome to our rubbernlaces e-shop, 
				{% if user.first_name %} 
					{{ user.first_name }} 
				{% else %} Dear Guest! 
				{%endif%} </h2>
		
			Today is {% now "jS F Y H:i" %} <br>
			New products in our catalog: <br>
		
			{% for key, value in new_products.items %}
				<li>{{key}} : <a href="#"> {{ value.name }}</a> by {{value.manufacturer}}, for only {{value.price}}</li>
			{% endfor %}

			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
			</p>
			</div>
			<div id="contents">
				<div id="adbox">
					<div id="search">
						<h3>Quick Search</h3>
						<p>
							Lorem ipsum dolor sit amet, consec tetur adipiscing elit, Praesent diam odio, commodo vittae sagittis vel,
						</p>
						<form action="/" method="post">
							<ul>
								<li>
									<select id="size">
										<option>Search by Size</option>
									</select>
								</li>
								<li>
									<select id="color">
										<option>Search by Color</option>
									</select>
								</li>
								<li>
									<select id="brand">
										<option>Search by Brand</option>
									</select>
								</li>
								<li>
									<select id="style">
										<option>Search by Style</option>
									</select>
								</li>
							</ul>
							<input type="submit" value="Find My Pair!" class="button">
						</form>
					</div>
					<img src="/static/images/shop-now.jpg" height="355" width="618" alt="Promo"> <a href="/" class="button"></a> <span></span>
				</div>
				<div id="main">
					<div id="featured">
						<h4><span>Featured Items</span></h4>
						<ul class="items">
							<li>
								<a href="/product"> <img src="/static/images/leather-boots.jpg" alt="Img"> <span>$19.50</span> Cheverlyn Zespax </a>
							</li>
							<li>
								<a href="/product"> <img src="/static/images/leather-boots.jpg" alt="Img"> <span>$19.50</span> Cheverlyn Zespax </a>
							</li>
							<li>
								<a href="/product"> <img src="/static/images/leather-boots.jpg" alt="Img"> <span>$19.50</span> Cheverlyn Zespax </a>
							</li>
							<li>
								<a href="/product"> <img src="/static/images/leather-boots.jpg" alt="Img"> <span>$19.50</span> Cheverlyn Zespax </a>
							</li>
						</ul>
					</div>
					<div id="sale">
						<h4><span>Sale Items</span></h4>
						<ul class="items">
							<li>
								<a href="/product"> <img src="/static/images/boots-brown.jpg" alt="Img"> <span>$8.50</span> Hukbalahap Boots </a>
							</li>
							<li>
								<a href="/product"> <img src="/static/images/boots-violet.jpg" alt="Img"> <span>$8.50</span> Hukbalahap Boots </a>
							</li>
							<li>
								<a href="/product"> <img src="/static/images/boots-yellow.jpg" alt="Img"> <span>$8.50</span> Hukbalahap Boots </a>
							</li>
							<li>
								<a href="/product"> <img src="/static/images/boots-green.jpg" alt="Img"> <span>$8.50</span> Hukbalahap Boots </a>
							</li>
						</ul>
					</div>
				</div>
			</div>

{% endblock %}