<div id="navigation">
    <ul id="primary">
            {% for link in links_menu %}
                {% if link.pk %}
            <li class="{% if request.resolver_match.kwargs.pk|add:'0' == link.pk %} 
                    selected {% endif %} ">
                    <a href="{% url 'products:category' link.pk %}">
                    {{link.name}}</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url link.href %}">{{ link.name }}</a>
                </li>
                {% endif %}
            {% endfor %}
    </ul> 
    <ul id="secondary">
        <li>
            <a href="{% url 'basket:view' %}">
                Cart {% if basket %}
                ({{ basket|length }})
                {% endif %}
            </a>
        </li>
        <li>
            {% if user.is_authenticated %}
            <div class="dropdown">
                    <a href="#" id="profile-link">User</a>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="{% url 'auth:edit' %}">Profile</a>
                        <a href="{% url 'ordersapp:orders_list' %}">Orders</a>
                    </div>
                    </div>
            {% else %}
            <a href="{% url 'auth:login' %}">Login</a> | <a href="{% url 'auth:register' %}">Signup</a>
            {% endif %}
        </li>
    </ul>
    
</div>
