<div id="navigation">
    <ul id="primary">
        {% for link in links_menu %}
            <li {% if request.resolver_match.url_name == link.href %} class="selected" {% endif %}>
                <a href="{% url link.href %}">{{ link.name }}</a>
            </li>
        {% endfor %}
    </ul> 
    <ul id="secondary">
        <li>
            <a href="{% url 'basket:view' %}">Cart {% if basket %}({{ basket|length }}){% endif %})</a>
        </li>
        <li>
            <a href="{% url 'auth:login' %}">Login</a> | <a href="{% url 'auth:register' %}">Signup</a>
        </li>
    </ul>
</div>
