{% extends 'mainapp/base.html' %}

{%block content %}
			<div id="contents">
				<h4><span>Mens</span></h4>
				<div id="stocks">
					<ul>
						{% for product in products %}
						<li>
						<!-- <h3> {{ product.category.name }}</h3>
						<h2> {{ product.title }}</h2>	 -->
							<a href="#" class='preview' title='Preview'> <img src='/media/{{ product.image }}' 
								alt='{{product.title}}'> <span class="icon"></span></a> <span>$8.50</span> {{product.title}} 
								<em>Quick Shop</em> <a href="{% url 'basket:add' product.pk %}" class="btn-cart">Add to Cart</a> 
								<a href="#" class="btn-wish">Add to Wishlist</a>
							</a>
						</li>
							{% endfor %}

						<!-- <li>
							<a href="/product" class="preview" title="Preview"> <img src="/static/images/boots-violet.jpg" alt="Img"> <span class="icon"></span></a> <span>$8.50</span> Hukbalahap Boots <em>Quick Shop</em> <a href="checkout.php" class="btn-cart">Add to Cart</a> <a href="checkout.php" class="btn-wish">Add to Wishlist</a>
						</li> -->
						
					</ul>
				</div>
				<div class="footer">
					<h4><span>Similar Items</span></h4>
					<ul class="items">
						<li>
							<a href="/product"> <img src="/static/images/boots-brown.jpg" alt="Img"> <span>$8.50</span> Hukbalahap Boots</a>
						</li>
						<li>
							<a href="/product"> <img src="/static/images/boots-violet.jpg" alt="Img"> <span>$8.50</span> Hukbalahap Boots</a>
						</li>
						<li>
							<a href="/product"> <img src="/static/images/boots-yellow.jpg" alt="Img"> <span>$8.50</span> Hukbalahap Boots</a>
						</li>
						<li>
							<a href="/product"> <img src="/static/images/boots-green.jpg" alt="Img"> <span>$8.50</span> Hukbalahap Boots</a>
						</li>
					</ul>
				</div>
			</div>
{% endblock %}