<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Product - RubberNLaces Website Template</title>
	<link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			<div id="header">
				<div id="logo">
					<a href="/"><img src="/static/images/logo.png" alt="LOGO"></a>
				</div>
				<div id="navigation">
					<ul id="primary">
						<li>
							<a href="/">Home</a>
						</li>
						<li class="selected">
							<a href="/new">New Arrivals</a>
						</li>
						<li>
							<a href="/mens">Mens</a>
						</li>
						<li>
							<a href="/womens">Womens</a>
						</li>
						<li>
							<a href="/faq">Faq</a>
						</li>
						<li class="highlight">
							<a href="/sale">Sale Items</a>
						</li>
					</ul>
					<ul id="secondary">
						<li>
							<a href="/checkout">Cart</a>
						</li>
						<li>
							<a href="/">Login</a> | <a href="/">Signup</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="contents">
				<div id="product">
					<div class="section">
						<ul>
							<li>
								<a href="product.html"><img src="/static/images/boots-view.jpg" alt="thumbnail"></a>
							</li>
							<li>
								<a href="product.html"><img src="/static/images/boots-view2.jpg" alt="thumbnail"></a>
							</li>
							<li>
								<a href="product.html"><img src="/static/images/boots-view3.jpg" alt="thumbnail"></a>
							</li>
							<li>
								<a href="product.html"><img src="/static/images/boots-view4.jpg" alt="thumbnail"></a>
							</li>
							<li>
								<a href="product.html"><img src="/static/images/boots-view5.jpg" alt="thumbnail"></a>
							</li>
						</ul>
						<div>
							<img src="/static/images/leather-boots2.jpg" alt="view">
						</div>
					</div>
					<div class="section">
						<h2><span>$8.50</span>Hukbalahap Boots</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis cursus gravida. Suspendisse ut ligula tristique velit blandit vel sit amet ipsum. Nam accumsan turpis id mauris fermentum pharetra. Cras interdum, risus et dictum bibendum, arcu tellus convallis libero, quis placerat urna erat et lorem. Phasellus inter dum turpis vestibulum ligula varius sit amet ultricies massa vulputate. Morbis vehicula, velit a faucibus cursus, turpis magna mattis mi, in ultrices totor nibh eu dui. Nam at ipsum in urna convallis accumsan. Nullam at
						</p>
						<form action="index.html" method="post">
							<select>
								<option>Select Size</option>
							</select>
							<select>
								<option>Select Qty.</option>
							</select>
							<input type="submit" value="Add to Cart" class="btn-cart">
							<input type="submit" value="Add to Wishlist">
						</form>
					</div>
				</div>
				<div class="footer">
					<h4><span>Similar Items</span></h4>
					<ul class="items">
						<li>
							<a href="product.html"> <img src="/static/images/boots-brown.jpg" alt="Img"> <span>$8.50</span> Hukbalahap Boots</a>
						</li>
						<li>
							<a href="product.html"> <img src="/static/images/boots-violet.jpg" alt="Img"> <span>$8.50</span> Hukbalahap Boots</a>
						</li>
						<li>
							<a href="product.html"> <img src="/static/images/boots-yellow.jpg" alt="Img"> <span>$8.50</span> Hukbalahap Boots</a>
						</li>
						<li>
							<a href="product.html"> <img src="/static/images/boots-green.jpg" alt="Img"> <span>$8.50</span> Hukbalahap Boots</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="footer">
				<div class="background">
					<div id="connect">
						<h5>Get Social With us!</h5>

					</div>
					<ul class="navigation">
						<li>
							<h5>Mens</h5>
							<a href="mens.html">Sneakers</a> <a href="mens.html">Boots</a> <a href="mens.html">Winter socks</a> <a href="mens.html">Lace-ups</a>
						</li>
						<li>
							<h5>Womens</h5>
							<a href="womens.html">Sneakers</a> <a href="womens.html">Boots</a> <a href="womens.html">Winter socks</a> <a href="womens.html">Lace-ups</a>
						</li>
						<li class="latest">
							<h5>New Arrivals</h5>
							<a href="new.html">Cheverlyn Zespax</a> <a href="new.html">Alta Ulterior</a> <a href="new.html">Mikee</a> <a href="new.html">Jeeroks Copy</a>
						</li>
						<li class="latest">
							<h5>On Sale Items</h5>
							<a href="sale.html">Cheverlyn Zespax</a> <a href="sale.html">Alta Ulterior</a> <a href="sale.html">Mikee</a> <a href="sale.html">Jeeroks Copy</a>
						</li>
					</ul>
					<p class="copy">Copyright &copy; 2015 &nbsp; <a href="http://partners-pro.ru" target="_blank"><u>Partners-Pro.ru | Бесплатное изготовление сайтов</u></a></p>
				</div><div class="container">
<table align="center" border="0" cellpadding="0" cellspacing="0" style="height:75px; width:560px">
	<tbody>
		<tr>
			<td style="height:75px; text-align:center; vertical-align:middle; width:560px">
			<p><a href="http://partners-pro.ru" target="_blank"><img alt="Изготовление партнёрских интернет-магазинов и бесплатных сайтов" src="http://partners-pro.ru/site-free/banner.gif" style="height:75px; width:560px" /></a></p>
			</td>
		</tr>
	</tbody>
</table>
</div>
			</div>
		</div>
	</div>
</body>
</html>